---
# Example playbook for installing Docker on FABRIC generic cluster nodes

- name: Install Docker on all nodes
  hosts: all_nodes
  become: true
  
  roles:
    - role: docker
      vars:
        docker_users:
          - "{{ ansible_user }}"
        docker_install_compose: true
        docker_daemon_config:
          log-driver: "json-file"
          log-opts:
            max-size: "10m"
            max-file: "3"
          storage-driver: "overlay2"

- name: Verify Docker installation
  hosts: all_nodes
  become: false
  
  tasks:
    - name: Check Docker version
      ansible.builtin.command: docker --version
      register: docker_version
      changed_when: false
    
    - name: Display Docker version
      ansible.builtin.debug:
        var: docker_version.stdout
    
    - name: Check user is in docker group
      ansible.builtin.command: groups
      register: user_groups
      changed_when: false
    
    - name: Display user groups
      ansible.builtin.debug:
        var: user_groups.stdout
