---
# roles/default/common/vars/Debian.yml
# Variables for Debian-based systems (Debian, Ubuntu)

common_packages:
  - vim
  - git
  - wget
  - curl
  - net-tools
  - dnsutils
  - tcpdump
  - iperf3
  - tree
  - jq
  - htop
  - tmux
  - rsync
  - tar
  - unzip
  - lsof
  - strace

# Additional Debian-specific packages
common_packages_extra:
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - python3
  - python3-pip
  - gnupg
  - lsb-release

# Combine both lists
all_common_packages: "{{ common_packages + common_packages_extra }}"
