---
# Install Docker on Rocky Linux / RHEL / CentOS

- name: Remove old Docker versions (Rocky/RHEL)
  ansible.builtin.dnf:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
      - podman
      - runc
    state: absent
  ignore_errors: true
  tags: docker

- name: Install required packages (Rocky/RHEL)
  ansible.builtin.dnf:
    name:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present
  tags: docker

- name: Add Docker CE repository (Rocky/RHEL)
  ansible.builtin.yum_repository:
    name: docker-ce-stable
    description: Docker CE Stable - $basearch
    baseurl: "{{ docker_repo_url }}"
    gpgcheck: true
    gpgkey: "{{ docker_gpg_key }}"
    enabled: true
  tags: docker

- name: Install Docker Engine (Rocky/RHEL)
  ansible.builtin.dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: "{{ docker_package_state }}"
  tags: docker
