---
# tasks file for node_exporter

- name: Load architecture variables
  ansible.builtin.include_vars: main.yml
  tags: always

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"
    - "default.yml"
  tags: always

# Rest of the file remains the same...
